$font-path: "../../fonts/";


@font-face {
  font-family: "Hiromisake";
  font-weight: 500;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Hiromisake/Hiromisake.ttf") format("truetype");
}
// ---------------------------------------------Satoshi---------------------------------------------
// ------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Satoshi";
  font-weight: 300;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Satoshi/Satoshi-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Satoshi/Satoshi-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Satoshi/Satoshi-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Satoshi/Satoshi-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 900;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Satoshi/Satoshi-Black.ttf") format("truetype");
}

//italic
@font-face {
  font-family: "Satoshi";
  font-weight: 300;
  font-style: italic;
  src: url("#{$font-path}/Satoshi/Satoshi-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}/Satoshi/Satoshi-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  font-style: italic;
  src: url("#{$font-path}/Satoshi/Satoshi-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  font-style: italic;
  src: url("#{$font-path}/Satoshi/Satoshi-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 900;
  font-style: italic;
  src: url("#{$font-path}/Satoshi/Satoshi-BlackItalic.ttf") format("truetype");
}

// ---------------------------------------------ROBOTO---------------------------------------------
// ------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-display: "swap";
  src: url("#{$font-path}/Roboto/Roboto-Black.ttf") format("truetype");
}

//italic
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}
