.rounded-custom {
    @apply rounded-tl-xl rounded-br-xl;
    &--lg {
        @apply rounded-tl-3xl rounded-br-3xl;
    }
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}